
body { 
    border: 1px solid red;
    font-family: sans-serif;
    font-size: 16px;
    max-width: 1024px;
    margin: auto;
    padding: 0;
}

header {
    background-color: #D1E3EE;
}

header nav ul li {
    border: 1px solid red;
    display: inline-block;
}

#logo {
    margin-top: -150px;
}
