:root {
  --color-verde: hsl(102.2deg 88.35% 59.61%);
}

body * {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

body {
  font-size: 16px;
  max-width: 1024px;
  margin: 0 auto;
  font-family: sans-serif;
}

header article {
  display: inline-block;
}

.logo-empresa {
  padding: 2em 1em;
}

header article nav ul {
  list-style: none;
  font-weight: bold;
  padding: 1.5em 0;
  font-size: 1em;
}

header article nav ul li {
  display: inline-block;
  margin: 0 0.5em;
}

.header-logos {
  vertical-align: top;
}

.header-logos img:nth-child(1) {
  position: relative;
  width: 60px;
  left: 90px;
  top: 100px;
}

.header-logos img:nth-child(2) {
  position: relative;
  width: 150px;
  height: 60px;
  top: 40px;
  left: 80px;
}

.header-logos img:nth-child(3) {
  position: relative;
  top: -5px;
  width: 40px;
  left: 110px;
}

.header-logos img:nth-child(4) {
  position: relative;
  top: -5px;
  width: 40px;
  left: 110px;
}

.header-logos img:nth-child(5) {
  position: relative;
  top: -5px;
  width: 40px;
  left: 110px;
}

hr {
  /* border-top: 2px dotted; */
  border-bottom: none;
  margin: 1.5em 0;
}

.hero {
  display: inline-block;
  max-width: 60%;
}

.hero h2 {
  font-weight: bolder;
  font-size: 3em;
}

.hero-accent {
  color: var(--color-verde);
}

.hero img {
  width: 47%;
  margin-right: 1em;
}

.hero p {
  margin: 2em 0;
}

.bike {
  display: inline-block;
  position: relative;
  vertical-align: top;
  max-width: 35%;
  margin-left: 2.5em;
}

.bike img:first-child {
  max-width: 100%;
}

.bike img:last-child {
  position: absolute;
  bottom: -20px;
  left: 0;
}

.network {
  margin: 2em 0;
}

.network img {
  width: 1em;
  height: 1em;
}

footer {
  margin-bottom: 1em;
}

footer article {
  display: inline-block;
  width: 16%;
  vertical-align: top;
  margin: 0 1em;
}

footer article ul {
  list-style: none;
}
